PORT=5000
CLIENT_URL=http://localhost:3000
MONGO_URI=mongodb+srv://sudeepbiradar824_db_user:H3DkviS0vI6FtzP3@cluster0.pn8q9lx.mongodb.net/LiveMailDB?retryWrites=true&w=majority&appName=Cluster0
GOOGLE_CLIENT_ID=332291011093-unas6o056r7frl8v3jcndqn657vbnepm.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:5000/oauth2callback
NVIDIA_API_KEY=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
NVIDIA_MODEL=meta/llama-3.1-70b-instruct
SESSION_SECRET=livemail_super_session_secret_hassan_2026
